.aa {
  height: 500px;
  width: 400;
  position: relative;
  background-color: #eee;
  text-align: center;
}

.aa .header {
  /* header 就在最顶部, 无需 绝对定位 */
  /* position: absolute; */
  line-height: 60px;
  border-bottom: 2px solid #fff;
}

.aa .content {
  position: absolute;
  left: 0;
  right: 0;
  top: 60px;
  bottom: 60px;
  border: 1px solid black;
}

.aa .footer {
  position: absolute;
  line-height: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 2px solid #fff;
}
